.header {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    background-image: linear-gradient(to right bottom,
    var(--color-primary));
    

}

.container {
    height: 100vh;
}

.footer {
    padding: 3rem 0;
}